@import ./_errorStyles
@import ./layout/_landing
@import ./layout/_scrollBar

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: $sourceFont

html, body
    background-color: $bgColor
    height: 100%
    width: 100%