<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.ibb.co/kmctXQm/libro.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/stylesheets/loggin.css">
    <title>Registro</title>
</head>
<body>
    <section class="section-container">
        <!--No me borres, aquí va lo de instagram-->
    </section>
    <form class="form-container" action="dashboard.html" method="POST">
        <div>
            <h1>LOGBOOK</h1>
            <p class="form--text1">¡Bienvenido de vuelta!</p>
        </div>
        <div class="form--user-date">
            <input type="text" placeholder="Usuario" class="form--user" required>
            <input type="password" placeholder="Contraseña" class="form--user" required>
        </div>
        <div class="form-container-validacion">
            <div>
                <input type="checkbox" class="form--validacion" id="validar">Recuerdame
            </div>
            <div class="form--know">
                <a href="./recuperarCuenta.html">¿Olvidaste tu contraseña?</a>
            </div>

        </div>
        <div class="form-container-submit">
            <input type="submit" value="Ingresar" class="form--submit1">
            <input type="submit" value="Registrarse" class="form--submit2">
        </div>

        <p class="form--texto2">
            <a href="" class="form-text-a">Terminos de uso. Politica de privacidad</a>
        </p>
    </form>
</body>
</html>