*{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    border: 0;
}
/*Estilos para todo el documenento*/
body{
    min-height: 1000px;
    font-family: 'Sulphur Point', 'serif';
}
/*Estilos principales del menú lateral*/
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 20px;
    background-color: black;
}
/*Estilos de los links del menú*/
.menu-link{
    color: blanchedalmond;
    text-decoration: none;
}
/*Div que contiene la primera imagen que el usuario ve*/
.facilidad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 100%;
    background-image: url(../img/mujer.jpg);
    background-size: 100% 100%;
}
/*Titulo de la imagen*/
.h1{
    margin-top: 60px;
}
/*Texto de abajo de la imagen*/
.descripcion-felicidad{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}
/*Barras  que contienen los titulos de cada sección*/
.barra-lateral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #D5DBDB;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*Descripciones de las secciones*/
.h2-descripcion{
    display: flex;
    justify-content: center;
}
/*Contenedor de las caracterìsticas*/
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: wheat;
}
/*Cajas contenedoras de características*/
.section-item{
    height: 46%;
    width: 46%;
    background-color: turquoise;
}
.section-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: wheat;
}
/*Contenedor con las imagenes de los "clienetes del proyecto"*/
.image-logo{
background-color: violet;
height: 45%;
width: 35%;
}
.boton{
    padding: 30px;
    background-color: turquoise;
    margin: 50px 0;
    position: relative;
    left: 46%;
}