*{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    border: 0;
}
body{
    min-height: 1000px;
    font-family: 'Sulphur Point', 'serif';
}
.menu{
    list-style: none;
}
.menu-item{
    padding: 20px 30px;
    background-color: #74BDE8;
    margin-bottom: 20px;
}
.menu-item:hover .menu-link{
    transition: 0.8s;
    background-color: #8CB6FF;
    color: white;
}
.menu-link{
    text-decoration: none;
}
.lateral-izquierda{
    width: 40%;
    height: 100%;
    background-image: url(../img/otropc.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;

}
.parrafo-frase{
    margin: 50px 0;
    color: steelblue;
    font-size: 4rem;
}
.lateral-derecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-image: url(../img/pc.jpg);
    background-size: 100% 100%;
}
h1{
    color: steelblue;
    font-size: 40rem;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    height: 500px;
    background-color: blueviolet;
}
h2{
    margin: 40px 0;
    text-align: center;
}
.banner-lateral{
    width: 50%;
    height: 500px;
    background-color: black;
    float: right;
    margin-bottom: 50px;
}

.caracteristicas{
    margin-top: 300px;
    float: right;
}
.section{
    width: 100%;
    height: 300px; 
    margin-bottom: 50px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.section-item{
    width: 46%;
    height: 250px;
    margin: 10px;
    background-color: greenyellow;
}
.footer{
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;

}
.power{
    position: relative;
    top: 70px;
    left: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code{
    float: left;
}
.logo{
    width: 50px;
    height: 50px;
}
.link-logo{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}