*{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    border: 0;
}
/*Estilos para todo el documenento*/
body{
    min-height: 1000px;
    font-family: 'Sulphur Point', 'serif';
}
/*Estilos principales del menú lateral*/
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 20px;
    background-color: black;
}
/*Estilos de los links del menú*/
.menu-link{
    color: blanchedalmond;
    text-decoration: none;
}
/*Div que contiene la primera imagen que el usuario ve*/
.facilidad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 100%;
    background-image: url(../img/mujer.jpg);
    background-size: 100% 100%;
}
/*Titulo de la imagen*/
.h1{
    margin-top: 60px;
}
/*Texto de abajo de la imagen*/
.descripcion-felicidad{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}
/*Barras  que contienen los titulos de cada sección*/
.barra-lateral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #D5DBDB;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*Descripciones de las secciones*/
.h2-descripcion{
    display: flex;
    justify-content: center;
}
/*Contenedor de las caracterìsticas*/
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: #F2F3F4;
}
/*Cajas contenedoras de características*/
.section-item{
    height: 46%;
    width: 46%;
    background-color: #D5DBDB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
[class^="image-caract-"]{
    height: 100px;

    width: 100px;
    background-size: 100% 100%;
}
.image-caract-1{
    background-image: url(../img/safe.png);
}
.image-caract-2{
    background-image: url(../img/gestion.png)
}
.image-caract-3{
    background-image: url(../img/aqui.png)
}
.image-caract-4{
    background-image: url(../img/filtro.png)
}
.section-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: wheat;
}
/*Contenedor con las imagenes de los "clienetes del proyecto"*/
.image-logo{
    background-color: #D5DBDB;
    height: 25%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Cascada contenedor clientes */
.clientes{
    margin-bottom: 0;
    /* Por cascada se sobre escriben las margenes anteriores */
}
/* Estilos de las marcas de los clientes */
[class^="image-marca-"]{
    height: 90%;
    width: 90%;
    background-size: 100% 100%;
}
/* Carga de imagenes */
.image-marca-1{ background-image: url(../img/git.png);}
.image-marca-2{ background-image: url(../img/lab.png);}
.image-marca-3{ background-image: url(../img/nasa.png);}
.image-marca-4{ background-image: url(../img/colombia.png);}
.image-marca-5{ background-image: url(../img/net.png);}
.image-marca-6{ background-image: url(../img/sena.png);}     


/* Fin carga de imagenes */
.boton-container{
    height: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.boton{
    padding: 30px;
    background-color: #5DADE2;
    margin: 20px 0;
}
.boton:hover{
    transition: .8s;
    color: white;
    padding: 50px;
}
.boton-link{
    text-decoration: none;
}
.footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #34495E;
}
/* Div que contiene el lik de la pagina y el "emote" */
.power{
    margin-top: 20px;
}
/* "Emote del brazo" */
.logo{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
/* Link del nombre de la empresa */
.link-logo{
    text-decoration: none;
    color: white;
}
.link-logo:hover{
    text-decoration:underline;
    color: #3498DB;
}