* {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}

.cover--background {
  background: url(../img/bg_principal.png);
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  /* Centra vertical y horizontal [flexbox] */
  justify-content: center;
}

.content--tipography {
  width: 100%;
  color: #fff;
}

.central--text {
  width: 100%;
  margin-bottom: 100px;
}

.central--text h1 {
  font-size: 30px;
  font-weight: bold;
  opacity: 0.4;
  animation: desplazar_abajo 1s ease-in;
}

/* LogBook */
.content--tipography h2 {
  margin-top: 200px;
  font-size: 100px;
  font-weight: bold;
}

/* Gestion de usuarios */

.lateral-left-bar {
  border-top: 4px solid #fff;
  font-size: 13px;
  font-family: "roboto";
  font-weight: bold;
  padding-top: 16px;
}

.lateral-right-bar {
  padding-top: 16px;
  border-top: 4px solid #fff;
  font-size: 13px;
  font-family: "roboto";
  font-weight: bold;
}

.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  animation: desplazar_abajo 1s ease-in;
}

.btn a {
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  width: 160px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  text-decoration: none;
}

.btn a:hover {
  font-weight: bold;
  border: 1px solid transparent;
}

/*------------------------------------------------------------- FOOTER ---------------------------------------------------------*/
.footer--contenedor__principal {
  width: 100%;
  background-color: #04151f;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.footer--contenedor-logbook {
  width: 33.33%;
}

.footer-titulo {
  margin-left: 32px;
  letter-spacing: 8px;
  color: #43425d;
  font-size: 30px;
}

.footer--contenedor__iconos {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.footer-iconos a {
  padding: 20px;
  margin: 5px;
  font-size: 23px;
  color: #fff;
}

.footer--contenedor__contactenos {
  display: flex;
  width: 33.33%;
  color: #fff;
  border-left: 1px solid #fff;
}

.footer-contactenos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer--contactenos__titulo {
  display: flex;
  align-items: center;
}

.h2--titulo {
  font-size: 15px;
  margin-left: 60px;
}

.footer-contactenos a {
  color: #fff;
  font-size: 17px;
  padding: 1px;
  margin: 3px;
  text-decoration: none;
  align-self: flex-end;
  margin-right: 20px;
  border: 0.5px solid transparent;
}

.footer-iconos a:hover {
  color: #fff;
  border-radius: 100%;
  border: 0.5px solid #fff;
}

.icon-mobile {
  margin-right: 51px;
}

.icon-laptop {
  margin-right: 37px;
}

/*---------------------------------------------------------RESPONSIVE DESIGN-------------------------------------------------------*/
@media screen and (max-width: 780px) {
  .central--text h1 {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.4;
  }

  /* LogBook */
  .content--tipography h2 {
    margin-top: 200px;
    font-size: 70px;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .central--text h1 {
    font-size: 30px;
  }

  /* LogBook */
  .content--tipography h2 {
    font-size: 60px;
  }

  .lateral-left-bar {
    font-size: 13px;
    padding-top: 10px;
  }

  .lateral-right-bar {
    font-size: 13px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 430px) {
  .central--text h1 {
    font-size: 17px;
  }

  /* LogBook */
  .content--tipography h2 {
    font-size: 40px;
  }

  .lateral-left-bar {
    font-size: 13px;
    padding-top: 2px;
  }

  .lateral-right-bar {
    font-size: 13px;
    padding-top: 2px;
  }

  .btn a {
    padding: 10px 0;
    font-size: 12px;
    width: 120px;
  }
}

/*-------------------------------------------------------ANIMACIONES KEYFRAMES----------------------------------------------------*/

@keyframes desplazar_abajo {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
