* /*Selector de todos los elementos estilos para TODOS los elementos del window*/
{   padding: 0;
    margin: 0;
    border: 0; 
    box-sizing: border-box;
} 
body{
    height: 1000px;
}
/*Menú horizontal*/
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px 20px;
    background-color: black;
}
.menu-link{
    text-decoration: none;
    color: white;
    font-family: 'Sulphur Point', 'serif';
    font-size: 1.6em;
}
/*Fin menú*/
/*Formulario contendedor*/
.formulario{
width: 50%;
margin: auto;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
background-color: white;
margin-top: 150px;
margin-bottom: 600px;
border-radius: 2%;
box-shadow: 1px 5px 35px 1px black;
}
/*Titulo del formulario*/
.h3{
    margin: 0 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: black;
    font-family: 'Sulphur Point', 'serif';
}
/*Inputs*/
.campo{
    font-family: 'Sulphur Point', 'serif';
    margin: 5px;
    padding: 15px;
    width: 70%;
    border: none;
    border-bottom: 1px solid #0BD0FF;
}

/*Botón de  enviar o ingresar */
.submit{
    border: none;
    width: 40%;
    font-family: 'Sulphur Point', 'serif';
    margin: 15px 100%;
}
.submit:hover{
    padding: 18px 30px;
    transition: 0.8s;
    background-color: #38C0E0;
}
/*Estilos a los p del formulario */
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Sulphur Point', 'serif';
    margin: 15px 0;
}
a{
    margin: 0 5px;
}

a:hover{
    text-decoration: underline;
    color: #38C0E0;
}
/*Elementos links   que estan dentro de los p en el formulario*/
.p-link{
    text-decoration: none;
}
/*---------------------------------------------------Footer--------------------------------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    height: 200px;
    width: 100%;
    font-family: 'Sulphur Point', 'serif';
}