{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>¡Ups! Parece que lo que buscas no existe (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="https://i.ibb.co/kmctXQm/libro.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/stylesheets/ErrorServerStyles.css">
</head>

<body class="body--error">
  <div class="div--dialogError">
    <div class="contenedor--error">
      <h1> ERROR 4&lt/>4</h1>
      <p><span class="color--azul">Error404</span>(){</p>
      <p><span class="color--rojo">messaje</span> = "<span class="color--verde">page no found</span>";</p>
      <p class="margen">};</p>
      <a class="regresar--home" href="../index.html">Regresa al home</a>
    </div>
  </div>
</body>
</html>
