
    <div class="contenedor--formulario">
        <form class="formulario" action="#">
             <h2 class="titulo--rol">Seleccione el rol en la institución</h2>
            <input class="color--blue" type="submit" value="Aprendiz">
            <input class="color--purple" type="submit" value="Administrador">
            <input class="color--red" type="submit" value="Instructor">
            <div class="contenedor--btn__acciones">
                <input class="color--gray" type="submit" value="Cancelar">
                <input class="color--green" type="submit" value="Aceptar">
            </div>
        </form>
    </div>
