{% extends 'dashboard.html'%}
{% block content %}
            <div class="configuracionUsuario" id="IdconfiguracionUsuario">
                <h1 class="texto--configuracion__perfil">Configuración de tu perfil.</h1>
                <section class="header--configperfil">
                  <div class="contenedor--nombre">
                    <h2 class="nombre--perfil">Camila Alejandra Paredes osorio</h2>
                  </div>
                  <div class="perfil--contenedor__profesion">
                    <div class="contenedor--profesion">
                      <h2 class="profesion--perfil">Técnico en turismo</h2>
                    </div>
                    <div class="contenedor--correo">
                      <h2 class="correo--perfil">caparedes32@misena.edu.co</h2>
                    </div>
                  </div>
                </section>
                <section class="contenedor--formulario">
                  <div class="contenedor--rol--estado">
                    <div class="contenedor-aprendiz">
                        <h2 class="titulo--rol">Rol</h2>
                        <h2 class="rol">Aprendiz</h2>
                    </div>
                    <div class="contenedor--estado">
                      <h2 class="titulo--estado">Estado</h2>
                      <h2 class="estado">Activo</h2>
                    </div>
                  </div>
                </section>

            </div>
{% endblock %}