{% extends 'dashboard.html'%}
{% block content %}
            <div class="configuracionUsuario" id="IdconfiguracionUsuario">
                <h1 class="texto--configuracion__perfil">Configuración de tu perfil.</h1>
                <section class="header--configperfil">
                  <div class="contenedor--nombre">
                    <h2 class="nombre--perfil">Camila Alejandra Paredes osorio</h2>
                  </div>
                  <div class="perfil--contenedor__profesion">
                    <div class="contenedor--profesion">
                      <h2 class="profesion--perfil">Técnico en turismo</h2>
                    </div>
                    <div class="contenedor--correo">
                      <h2 class="correo--perfil">caparedes32@misena.edu.co</h2>
                    </div>
                  </div>
                </section>
                <section class="contenedor--formulario">
                  <div class="contenedor--rol--estado">
                    <div class="contenedor-aprendiz">
                        <h2 class="titulo--rol">Rol</h2>
                        <h2 class="rol">Aprendiz</h2>
                    </div>
                    <div class="contenedor--estado">
                      <h2 class="titulo--estado">Estado</h2>
                      <h2 class="estado">Activo</h2>
                    </div>
                  </div>
                  <section class="contenedor--inputs__formulario">
                    <form action="" class="contenedor--formulario">
                        <div class="contenedor--nombres">
                          <input required type="text" name="nombre" id="Fname" placeholder="Primer nombre">
                          <input required type="text" name="nombre" id="sec--name" placeholder="Segundo nombre">
                        </div>
                        <div class="contenedor--apellidos">
                          <input required type="text" name="nombre" id="Flast--name" placeholder="Primer apellido">
                          <input required type="text" name="nombre" id="SLast--name" placeholder="Segundo apellido">
                        </div>
                        <div class="contenedor--password">
                          <input required type="password" name="password--name" id="password--input" placeholder="Contraseña">
                          <a class="enlace--contraseña" href="#">¿Olvidaste tu contraseña</a>
                        </div>
                        <div class="contenedor--edad__rh">
                          <input required type="text" name="name--age" id="id--age" placeholder="Edad">
                          <input required type="text" name="name--rh" id="id--rh" placeholder="Rh">
                        </div>
                        <section class="contenedor--botones ">
                          <div class="botones--component ">
                            <input class="button--success" type="submit" value="Aceptar">
                          </div>
                          <div class="botones--component">
                            <input class="button--danger" type="submit" value="Cancelar">
                          </div>
                        </section>
                    </form>
                  </section>
                </section>
            </div>
{% endblock %}