{% extends 'dashboard.html'%}

{% block content %}
            <div class="configuracionUsuario">
                <h2 class="texto--configuracion__perfil">Crear nuevo usuario</h2>
                <div class="formulario--contenedor__formulario">
                    <form action="#" id="#" class="formulario">
                        <div class="formulario--contenedor-uno">
                          <label for="primer--apellido">Primer apellido</label>
                          <input type="text" name="primer--apellido" id="lastname">
                          <label for="primer--nombre">Primer nombre</label>
                          <input type="text" name="primer--nombre" id="first--name">
                          <label for="rh">RH</label>
                          <input type="text" name="rh" id="grupo--sangre">
                          <label for="contraseña">Contraseña</label>
                          <input type="password" name="contraseña" id="password">
                          <label for="correo-sena">Correo mi Sena</label>
                          <input type="email" name="correo-sena" id="correo-institucional">
                        </div>
                        <div class="formulario--contenedor-dos">
                          <label for="segundo-apellido">Segundo apellido</label>
                          <input type="text" name="segundo-apellido" id="lastname">
                          <label for="segundo-nombre">Segundo nombre</label>
                          <input type="text" name="segundo-nombre" id="second-name">
                            <div class="contenedor--tipo__documento">
                              <select name="tipo-documento" id="document-type">
                                <label for="tipo-documento">Tipo Documento</label>
                                <option value="1">CC</option> 
                                <option value="2">TI</option> 
                                <option value="3">CE</option>
                              </select>
                              <input type="text" name="tipo--documento" id="document--type">
                            </div>
                            <label for="edad">Edad</label>
                            <input type="text" name="edad" id="age">
                        </div>
                    </form>
                    <section class="contenedor--foto__perfil">
                        <div class="contenedor--foto">
                          <img class="foto--perfil" src="https://i.ibb.co/VVQL4Mz/dX.jpg" alt="">
                        </div>
                        <div class="contenedor--btn">
                            <button class="btn--cambiar-img" type="submit">Cambiar imagen</button>
                        </div>
                    </section>
                    <section class="contenedor--roles">
                        <div class="contenedor--rol-estado">
                            <label for="btn--rol">Rol en la institución</label>
                            <button class="btn-color-azul" type="submit" class="btn-rol">Aprendiz</button>
                            <label for="btn--estado">Estado en la institución</label>
                            <button class="btn-color-verde" type="submit" class="btn--estado">Activo</button>
                        </div>
                    </section>
                    <section class="contenedor--acciones">
                        <button class="color--transparente color--success" type="submit">Guardar cambios</button>
                        <button class="color--transparent" type="submit">Cancelar</button>
                        <button class="color--danger" type="submit">Eliminar</button>
                    </section>
                </div>
            </div>
{% endblock %}