<!-- Ventana modal para acceder a editar un usuario, esta sección va dentro de la etiqueta MAIN -->
<div class="configuracionUsuario">
    <div class="container-edit-modal-user">
        <div class="cont-edit-title-question">
            <h2 class="item-edit-title-question">
                ¿Estas seguro que deseas editar al usuario?
            </h2>
        </div>
        <div class="div-item-image">
            <img src="https://i.ibb.co/d08yjPn/Instructor.jpg" alt="Instructor" border="0">
        </div>
        <div class="div-item-button-rol">
            <button class="item-button-rol">Aprendiz</button>
        </div>
        <div class="div-item-name-user">
            <p>
                Samuel Galindo Perez
            </p>
        </div>
        <section class="section-information">

            <div class="information-item">
                <p class="info-item-p1">Programa:</p>
                <p class="info-item-p2">Técnico en programación de software</p>

            </div>

            <div class="information-item">
                <p class="info-item-p1">Edad:</p>
                <p class="info-item-p2"> 28</p>
            </div>

            <div class="information-item">
                <p class="info-item-p1">Correo:</p>
                <p class="info-item-p2">Clay32@misena.edu.co</p>
            </div>

            <div class="information-item">
                <p class="info-item-p1">Sede:</p>
                <p class="info-item-p2"> Colombia</p>
            </div>
        </section>
        <form class="cont-form-button" action="">
            <input class="button-cancel" type="button" value="Cancelar">
            <input class="button-accept" type="button" value="Aceptar">
        </form>
    </div>
</div> 
