
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/kmctXQm/libro.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/fonts/fonts.css" />
    <link rel="stylesheet" href="../assets/stylesheets/normalize.css" />
    <link rel="stylesheet" href="../assets/stylesheets/styles.css" />
    <title>Logbook | ¡Bienvenido!</title>
</head>
<body>
    <div class="configuracionUsuario">
        <div class="contenedor--contraseña__actualizada">
            <div class="contenedor--ventana-modal"><span class="icon-cross"></span>
                <h2 class="anuncio--modal">¡Contraseña actualizada correctamente!</h2>
            </div>
        </div>
    </div>
</body>
</html> 