{% extends 'dashboard.html'%}

{% block content &}
<p class="p--textResult">Resultados de tu busqueda:</p>

<div class="div--item">
    <section class="div--section--item--1">
        <img class="div--item--image" src="https://i.ibb.co/5FMhYSh/1.jpg" alt="1" border="0">
        <div class="div--item--name">
            <p> Samuel Alejandro Galindo perez</p>
        </div>
        <div class="div--item--states">
            <p>Estado</p>
            <button>activo</button>
        </div>
        <div class="div--item--icons">
            <a href="#">
                <img src="https://i.ibb.co/gTLpHR2/edit-alt-regular-24.png" alt="edit-alt-regular-24" border="0" />
            </a>
            <a href="#">
                <img src="https://i.ibb.co/8gYN4X5/x-regular-24.png" alt="x-regular-24" border="0" />
            </a>
        </div>
    </section>
    <section class="div--section--item--2">
        <div class="div--item--program">
            <p>Programa:</p>
            <p>Técnico en programación de software</p>
        </div>
        <div class="div--item--age">
            <p>Edad:</p>
            <p>28</p>
        </div>
    </section>
    <section class="div--section--item--3">
        <div class="div--item--email">
            <p>Correo:</p>
            <p>Clay32@misena.edu.co</p>
        </div>
        <div class="div--item--location">
            <p>Sede:</p>
            <p>Colombia</p>
        </div>
    </section>
    <div class="div--item--rol">
        <button>Administrador</button>
    </div>

</div>

<div class="div--item">
    <section class="div--section--item--1">
        <img class="div--item--image" src="https://i.ibb.co/5FMhYSh/1.jpg" alt="1" border="0">
        <div class="div--item--name">
            <p> Samuel Alejandro Galindo perez</p>
        </div>
        <div class="div--item--states">
            <p>Estado</p>
            <button>activo</button>
        </div>
        <div class="div--item--icons">
            <a href="#">
                <img src="https://i.ibb.co/gTLpHR2/edit-alt-regular-24.png" alt="edit-alt-regular-24"
                    border="0">
            </a>
            <a href="#">
                <img src="https://i.ibb.co/8gYN4X5/x-regular-24.png" alt="x-regular-24" border="0">
            </a>
        </div>
    </section>
    <section class="div--section--item--2">
        <div class="div--item--program">
            <p>Programa:</p>
            <p>Técnico en programación de software</p>
        </div>
        <div class="div--item--age">
            <p>Edad:</p>
            <p>28</p>
        </div>
    </section>
    <section class="div--section--item--3">
        <div class="div--item--email">
            <p>Correo:</p>
            <p>Clay32@misena.edu.co</p>
        </div>
        <div class="div--item--location">
            <p>Sede:</p>
            <p>Colombia</p>
        </div>
    </section>
    <div class="div--item--rol">
        <button>Administrador</button>
    </div>
</div>    
<section class="section--pagination"> 
    <ul class="ul--pagination">
        <li class="li--itemPagination li--itemPaginationActive"><a class="a--itemPagination" href=""><div class="div--rowPageLeft"></div></a></li>
        <li class="li--itemPagination"><a class="a--itemPagination" href="">1</a></li>
        <li class="li--itemPagination"><a class="a--itemPagination" href="">2</a></li>
        <li class="li--itemPagination"><a class="a--itemPagination" href="">3</a></li>
        <li class="li--itemPagination li--itemPaginationActive"><a class="a--itemPagination" href=""><div class="div--rowPageRight"></div></a></li>
    </ul>
</section>

{% endblock %}