//-------------------------------- Configuraciones de perfil --------------------------------------------//

//-------Variables SASS------//
$headercolorpurple: #685FDE 
$whitecolor: #FFFBFB
$titleconfigperfilcolor: #43425D
$fontsize: 30px
$fontsize_prof_correo: 19px
$font-weight: normal
//-----Fin Variables SASS----//

.texto--configuracion__perfil
    color: $titleconfigperfilcolor

.header--configperfil
    padding: 10px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    background: $headercolorpurple
    width: 70%
    height: 20vh
    .nombre--perfil
        margin-bottom: 10px
        font-family: 'Source Sans Pro'
        color: $whitecolor
        font-size: $fontsize
        font-weight: $font-weight

.perfil--contenedor__profesion
    justify-content: center
    display: flex
    flex-direction: row

.profesion--perfil
    color: $whitecolor
    font-size: $fontsize_prof_correo
    margin-right: 100px
    font-weight: $font-weight

.correo--perfil
    font-size: $fontsize_prof_correo
    color: $whitecolor
    font-weight: $font-weight

            
        
            


          
            



    
   
  
     





   



