.div--item {
  display: flex;
  flex-wrap: wrap;
  height: 25vh;
  min-height: auto;
  max-width: 100%;
  background: white;
  color: black;
  padding: 10px;
  flex: 0 1 auto;
  position: relative;
  box-sizing: border-box;
}
.div--section--item--1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}
.div--item--image {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.div--item--name {
  display: flex;
  flex-wrap: nowrap;

  width: 150px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
.div--item--name p {
  font-family: "Source Sans pro", sans-serif;
  align-self: justify;
  font-size: 1em;
  flex: auto;
}
.div--item--states {
  display: flex;
  flex-wrap: wrap;
  width: 200px;

  font-size: 15px;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: baseline;
  /* background: gainsboro; */
  padding: 10px;
}
.div--item--states button {
  background-color: rgba(105, 228, 167);
  padding: 5px;
  width: 100px;
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  opacity: 50%;
}
.div--item--states p {
  opacity: 50%;
}
.div--item--icons {
  display: flex;
  justify-content: space-between;
  /* background: rgb(175, 175, 175); */
  width: 110px;
  height: 50%;
  margin: 10px;
}
.div--section--item--2 {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  height: 24%;
  /* background: beige; */
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}
.div--item--program {
  display: flex;
  width: 65%;
  /* background: darkgrey; */
  justify-content: space-between;
  align-items: baseline;
}
.div--item--program p:nth-child(1) {
  width: 22%;
  text-align: left;
  /* background-color: darkmagenta; */
  font-weight: bold;
}
.div--item--program p:nth-child(2) {
  /* background-color: darkkhaki; */
  width: 76%;
  text-align: left;
}

.div--item--age {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* background: cyan; */
  width: 30%;
}

.div--item--age p:nth-child(1) {
  border-right: 1px solid #707070;
  text-align: center;
  width: 35%;
  /* background: cadetblue;  */
  font-weight: bold;
}
.div--item--age p:nth-child(2) {
  text-align: left;
  width: 55%;
  /* background: darkseagreen; */
}
.div--section--item--3 {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  height: 24%;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}
.div--item--email {
  display: flex;
  /* background-color: darkgrey; */
  justify-content: space-between;
  align-items: baseline;
  width: 65%;
}
.div--item--email p:nth-child(1) {
  width: 22%;
  text-align: left;
  /* background: darkcyan; */
  font-weight: bold;
}
.div--item--email p:nth-child(2) {
  /* background:blueviolet; */
  width: 76%;
  text-align: left;
  overflow: hidden;
}
.div--item--location {
  display: flex;
  align-items: baseline;
  /* background: cyan; */
  width: 30%;
  justify-content: space-between;
}
.div--item--location p:nth-child(1) {
  border-right: 1px solid #707070;
  /* background: cadetblue; */
  font-weight: bold;
  width: 35%;
  text-align: center;
}
.div--item--location p:nth-child(2) {
  /* background: rgb(138, 138, 138); */
  text-align: left;
  width: 55%;
}

.div--item--rol {
  display: flex;
  width: 28%;
  height: 40%;
  /* background: darkseagreen; */
  justify-content: center;
  align-items: center;
  margin: 2.5%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.div--item--rol button {
  outline: none;
  height: 60%;
  width: 80%;
  border-radius: 25px;
  background: rgba(83, 66, 233, 50%);
  color: #ffffff;
}