*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #1C2833;
}
/*Inicio estilos para el menú horizontal*/

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #333;
}

.sub-menu{
    /* Por cascada anula el display flex, así estos se ponen uno sobre otro */
    display: block; 
    position: absolute;
     /* Para que salga del flujo */
    left: 1%;   /*Para mover los items de las banderas y que queden alineadas con el item "idioma "*/
    top: 100%; /*De su referencia, se empuja un 100% del padre*/
    display: none;
}
.sub-item:hover .sub-menu{
    /* Cuando se haga hover en el item del menú. el submenú será el que aparezca*/
    display: block;
}
.sub-item{
    position: relative; /*Para que se use de referencia*/
}
.sub-item:hover{
    background: rgba(0, 0, 0, .5);
}
.menu-link{
    text-decoration: none;
    color: #3498DB;
    display: block;
    padding: 30px 50px;
}
.banderas{
    padding:20px 30px;
}
.españa{
    width: 100px;
    height: 50px;
}
.inglesa{
    width: 100px;
    height: 44px;
}
/*Fin menú horizontal*/
h1{
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class^="par"]{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax-1{
    background-image: url(../img/technology.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
.parallax-2{
    background-image: url(../img/work.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
.parallax-3{
    background-image: url(../img/team.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
.parallax-4{
    height: 500px;
    border: 2px solid lightblue;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto
}
.collage-1{
    display: flex;
    background: tomato;
    margin: 1px;
    color: #fff;
    width: 45%;
}
[class^="collage-"]{
    flex: auto;
    display: flex;
    background: tomato;
    margin: 1px;
    color: #fff;
    width: 45%;
    text-align: center;
}
.comentarios{
    position: relative;
    left: 70px;
    width: 90%;
    height: 500px;
    background-color: rgb(255, 254, 254);
    display: flex;

}

[class^="comentario-"]{
    height: 500px;
    margin: 0 10px;

}
[class^="image-"]{
    background-color: red;
    height: 100px;
    width: 100px;
    position: relative;
    top: 10px;
    left: 100px;

}
.comentario-1{
    background-color: royalblue;
}
.image-1{
    background-image: url(../img/persona-1.jpg);
    background-size: 100% 100%;
    border-radius: 100%;

}

.comentario-2{
    background-color: coral;
}
.image-2{
    background-image: url(../img/persona-2.jpg);
    background-size: 100% 100%;
    border-radius: 100%;

}
.comentario-3{
    background-color: darkgoldenrod;
}
.image-3{
    background-image: url(../img/persona-3.jpg);
    background-size: 100% 100%;
    border-radius: 100%;

}
.comentario-4{
    background-color: darkgreen;
}
.image-4{
    background-image: url(../img/persona-4.jpg);
    background-size: 100% 100%;
    border-radius: 100%;

}
/*Se da propiedades especificas a los "p" dentro de los divs de la sección de OPINIONES de la pagina web*/
[class^="comentariop"]{
    position: relative;
    top: 200px;
    text-align: center;
}
/* Zona de estilos para el formulario  */
.form{
    height: 100px;
    background-color: #17202A;


}

/* Fin zona de formulario */
/*La etiqueta lo explica */
footer
{
    vertical-align: super;
    text-align: center;
    height: 200px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: white;
}

.lista{
    list-style: none;
}

select{
    padding: 10px 30px;
} 
