            <p class="p--textResult">Resultados de tu busqueda:</p>
            <div class="div--item" >1</div>
            <div class="div--item" >2</div>
            <div class="div--item" >3</div>
            <div class="div--item" >4</div>
            <div class="div--item" >5</div>
            <div class="div--item" >6</div>
            <section class="section--pagination"> 
                <ul class="ul--pagination">
                    <li class="li--itemPagination li--itemPaginationActive"><a class="a--itemPagination" href=""><div class="div--rowPageLeft"></div></a></li>
                    <li class="li--itemPagination"><a class="a--itemPagination" href="">1</a></li>
                    <li class="li--itemPagination"><a class="a--itemPagination" href="">2</a></li>
                    <li class="li--itemPagination"><a class="a--itemPagination" href="">3</a></li>
                    <li class="li--itemPagination li--itemPaginationActive"><a class="a--itemPagination" href=""><div class="div--rowPageRight"></div></a></li>
                </ul>
            </section>
